.bg-container {
  .interface-container {
    padding-top: 120px;

    h1 {
      text-shadow: 5, 5, 1, #ffffff;
    }

    .interface {
      padding: 16px 24px;
      background: linear-gradient(to bottom, #aaaaaa 60%, #dfdfdf);
    }
  }
}
